.list {
    width: 90%;
    margin: 50px auto;
    font-size: 16px;
    color: #6D6D6D;
}

.list p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #95345c;
    text-align: left;
}

.list-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border-bottom: 1px solid #cacaca;
    font-size: 14px;
    transition: all 0.2s ease;
}

.list-table-format.title {
    background-color: #f9f9f9;
    font-weight: bold;
    text-transform: uppercase;
    color: #95345c;
    font-size: 14px;
}

.list-table-format img {
    width: 70px;
    border-radius: 10px;
    object-fit: cover;
}

.list-table-format p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-table-format:hover {
    background-color: #fff0ed; /* Light shade for hover effect */
}

.list-table-format p.cursor {
    color: #95345c;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.list-table-format p.cursor:hover {
    color: #7e2b4e; /* Darker theme color for hover */
}

@media (max-width: 600px) {
    .list-table-format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 10px;
        font-size: 12px;
    }

    .list-table-format img {
        width: 40px;
    }

    .list-table-format.title {
        display: none;
    }
}